{erl_opts, [debug_info]}.

{plugins, [
	rebar3_proper,
	{gradualizer, {
		git,
		"https://github.com/josefs/Gradualizer.git",
		{branch, "master"}
	}}
]}.

{deps, [
	{erlang_base62, "1.0.1"},
	{proper, "1.4.0"},
	{erl_nbt, "1.0.0"}
]}.

{shell, [
%	{config, "config/sys.config"},
	{apps, [mcearl]}
]}.

{alias, [
	{check, [
		xref,
		dialyzer,
		edoc,
		eunit,
		gradualizer,
		{proper, "--regressions"},
		{proper, "-c"},
		{ct, "-c"},
		{cover, "-v --min_coverage=80"}
	]}
]}.
