{erl_opts, [debug_info]}.

{project_plugins,
	[ rebar3_proper
	, rebar3_auto
	, rebar3_run
	, rebar3_appup_plugin
%	, rebar_mix
	]
}.

{deps,
	[ {erlang_base62, "1.0.1"}
	, {erl_nbt      , "1.0.0"}
	, {ranch        , "2.1.0"}
	, {kube_dist    , "0.0.2"}
%	, {pogo, "0.3.0"}
%	, {libcluster, "3.3.3"}
%	, {k8s, "2.6.0"}
	]
}.

{profiles, [{test, [{deps, [{proper, "1.4.0"}]}]}]}.

{alias,
	[ {all, [check, test, run]}
	, {check, [xref, dialyzer]}
	, {test,
		[ {eunit , "-cvp"}
		, {ct    , "-cv" }
		, {proper, "-cv" }
		, {cover , "-v"  }
		]}
	]
}.

{relx, [{release, {mcearl, "0.2.0"},
	[ mcearl
	, mnesia
	, inets
	, ssl
	, erl_nbt
	, erlang_base62
	, ranch
%	, kube_dist
	]}
]}.

{xref_ignores,
	[ heartbeat_serv, {heartbeat_serv, start_link}, {heartbeat_serv, start_link, 2}
	, world_serv, {world_serv, start_link}, {world_serv, start_link, 0}
	, player_man, {player_man, start_link}, {player_man, start_link, 1}
	, player_sup, {player_sup, start_link}, {player_sup, start_link, 2}
	, player_serv, {player_serv, start_link}, {player_serv, start_link, 2}
]}.

{dialyzer, [{plt_extra_apps, [erlang_base62, erl_nbt]}]}.
