{erl_opts, [debug_info]}.

{project_plugins,
	[ rebar3_proper
	, rebar3_auto
	, rebar3_run
	, rebar3_appup_plugin
%	, rebar_mix
	]
}.

{deps,
	[ {erlang_base62, "1.0.1"}
	, {erl_nbt      , "1.0.0"}
	, {ranch        , "2.1.0"}
	]
}.

{profiles, [{test, [{deps, [{proper, "1.4.0"}]}]}]}.

{alias,
	[ {all, [check, test, run]}
	, {check, [xref, dialyzer]}
	, {test,
		[ {eunit , "-cvp"}
		, {ct    , "-cv" }
		, {proper, "-cv" }
		, {cover , "-v"  }
		]}
	]
}.

{relx, [{release, {'mcearl_classic', "0.2.0"},
	[ mcearl_origin
	, mcearl_peer
	, mnesia
	, inets
	, ssl
	, erl_nbt
	, erlang_base62
	, ranch
	]}
]}.

{xref_ignores,
	[ controller, {controller, start_link}, {controller, start_link, 0}
	, controller_man, {controller_man, start_link}, {controller_man, start_link, 0}
	, controller_sup, {controller_sup, start_link}, {controller_sup, start_link, 0}
	, heartbeat, {heartbeat, start_link}, {heartbeat, start_link, 2}
	, server, {server, start_link}, {server, start_link, 2}
	, server_man, {server_man, start_link}, {server_man, start_link, 0}
	, server_sup, {server_sup, start_link}, {server_sup, start_link, 2}
	, world, {world, start_link}, {world, start_link, 1}
	]
}.

{dialyzer, [{plt_extra_apps, [erlang_base62, erl_nbt]}]}.
